<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>About Flask</title>
    </head>
    <body>
        {% extends "template.html" %}
        {% block content %}
        
        <h1>About Flask</h1>
        <p>"Flask is a microframework for Python based on Werkzeug, 
            Jinja 2 and good intentions." http://flask.pocoo.org/</p>
        <strong><nav>
                <ul class="menu">
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                </ul>
        </nav></strong>
  {% endblock %}
    </body>
</html>